.Rhistory
*.csv
*.xlsx
*.dat
*.docx
*.hobo
*.Rproj.user
*.Rproj
*.pdf

Synoptic/data/
Synoptic/graphs/
Synoptic/output/

Sensors/CO2/graphs/
Sensors/Raw Data/
Sensors/Light/graphs

Fluxes/data/

Soil core wet-up/

Stage-area/