.Rhistory
*.csv
*.xlsx
*.dat
*.docx
*.hobo
*.Rproj.user
*.Rproj
*.pdf

Synoptic/data/
Synoptic/graphs/
Synoptic/output/

Fluxes/graphs/
Fluxes/data/

Soil core wet-up/
Stage-area/
Sensors/Raw Data/
.Rproj.user
